
<div class="mt-5">
  <div>
    <div class="d-flex flex-column">
      <p class="h2 text-center mb-5" id="title">Blog communautaire pour développpeurs Juniors ... </p>
      <div class="mt-2 bg-darkmode-dark" id="logo" (click)="logoMove('page1')">
          <img [class.pictlogoMove]="classActive"
               alt="logo"
               class="pictLogo"
               id="pictLogo"
               src="assets/pictures/logo/dev-junior-globe.png">
          <span class="h1 ml-5" id="enter">
              <i class="fas fa-sign-in-alt"></i>
          </span>
      </div>
      <p class="text-center font-italic">Click</p>
    </div>
  </div>
</div><br><br>

