<!-- Footer -->
<footer id="footer" class="w3-container w3-padding-32 w3-margin-top card border-0">
  <div class="d-flex justify-content-around">
      <a class="btn w3-blue" id="facebook" href="https://www.facebook.com/brunoDevOps">Facebook</a>
      <p class="text-center text-light m-3">Powered by <a
    href="https://www.facebook.com/brunoDevOps/?view_public_for=101670148295386" target="_blank">devwebdino.com</a></p>
      <a class="btn w3-pink" id="insta" href="">Instagram</a>
  </div>
</footer>
