<nav class="navbar navbar-expand-lg navbar-dark rounded-bottom d-flex" id="navbBarAll">

  <div class="navbar-brand" id="title" routerLink="page1">Junior mais pas...Manchot</div>

  <button class="navbar-toggler uk-animation-toggle" type="button" data-toggle="collapse" data-target="#members"
          aria-controls="members" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon uk-animation-shake"></span>
  </button>

  <div class="collapse navbar-collapse" id="members" >
      <div class="uk-animation-slide-right m-auto">
        <div class="text-light uk-badge uk-animation-shake pb-3 pt-4 px-4" id="switch">
              <ngbd-darkmode-switch></ngbd-darkmode-switch>
        </div>
        <div class="uk-badge ml-5 pb-3 pt-4 px-4" id="signin">
          <a href="https://jmpmapi.herokuapp.com/" (click)="test()">API</a>
        </div>
      </div>
  </div>
</nav>
