<div class=" m-5" id="body">
  <div class="card" id="card">
    <h2 class="card-header border-0 d-flex flex-column border-top border-left border-right bg-darkmode-dark" id="header">
      <span class="font-weight-bold text-warning m-4">{{dataApiTitle}}</span>
      <img src="{{dataApiImg}}" alt="chat" class="m-auto" id="img">
    </h2>
    <pre id="content" class="card-body m-0 bg-darkmode-black border-0" id="card-body">{{dataApiContent}}<br>
      <span class="h6 m-0"> Article écrit par : <span class="text-primary ">{{dataApiAuthors}}</span></span></pre>
    <div class="card-footer border-0 d-flex justify-content-around border-bottom border-left border-right" id="card-footer">
      <a class="btn btn-danger m-2" routerLink="/page1"><i class="fas fa-undo-alt"></i></a>
      <a class="btn btn-success m-2" >Commenter</a>
    </div>
  </div>
  <div class="card mt-5 p-3">
    <div class="card-body">
      <div class="card-title h5">Commentaire écrit le : {{this.commentDate | date }}<span class="text-primary"></span>
       par <span class="text-primary"></span>
      </div>
      <div class="card-text">{{this.commentContent}}</div>
    </div>

  </div>
</div>


