<div class="d-flex flex-column">
  <div class="card mb-5">
      <div class="card-header bg-success text-dark text-center">A propos ... </div>
    <br>
    <img src="assets/pictures/avatars/selfie2.png" alt="selfie" class="w-50 m-auto rounded-circle shadow-lg ">
    <div class="card-body">
      <div class="card-text" id="apropos">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Animi asperiores harum id illo illum inventore iste laudantium necessitatibus nihil nulla,
        odit possimus praesentium quas sapiente sit, suscipit, tempora totam. Accusamus amet,
        aperiam, autem consectetur deleniti ducimus eligendi facilis hic, id magnam maxime odit officiis omnis quasi
        quia quisquam ut voluptas.
      </div>
    </div>
      <a class="card-footer text-center bg-dark" (click)="getAdmin()">Administrators</a>
  </div>

  <div class="card mb-5 text-center">
    <div class="card-header bg-primary text-dark text-left text-center text-center">Suivez-moi</div>
    <div class="card-body w-100">
      <a href="https://www.facebook.com/brunoDevOps/?view_public_for=101670148295386" class="card-text text-center" target="_blank">
        <i class="fab fa-facebook h1 mx-2 text-primary"></i>
      </a>
      <a href="" class="card-text text-center">
        <i class="fab fa-linkedin h1 mx-2"></i>
      </a>
      <a href="" class="card-text text-center">
        <i class="fab fa-instagram h1 text-danger mx-2"></i>
      </a>
      <a href="https://github.com/bsao17" class="card-text text-center" target="_blank">
        <i class="fab fa-github-square h1 mx-2 text-dark"></i>
      </a>
      <a href="http://devwebdino.com/" class="card-text text-center" target="_blank">
        <i class="fas fa-link h1 mx-2"></i>
      </a>
    </div>
  </div>

  <div class="card mb-5">
    <div class="card-header bg-dark text-center">Technos préférées</div>
    <br>
    <div class="card-body">
      <div class="text-center">
        <a href="http://php.net">
          <img src="assets/pictures/logo/phpEle.png" width="35%" alt="php">
        </a>
        <a href="https://symfony.com/">
          <img src="assets/pictures/logo/symfony.png" width="45%" alt="symfony">
        </a>
        <a href="https://nodejs.org/fr/">
          <img src="assets/pictures/logo/Node.js_logo.svg.png" width="35%" alt="nodejs">
        </a>
    </div>
    <div class="card-body">
      <div class="text-warning font-weight-bold text-center">
        <a href="https://developer.mozilla.org/fr/docs/Web/JavaScript">
          <img src="assets/pictures/logo/javascript-1.svg" width="25%" alt="javascript">
        </a>
        <a href="https://angular.io/">
          <img src="assets/pictures/logo/angular.png" width="30%" alt="angular">
        </a>
        <a href="https://www.typescriptlang.org/">
          <img src="assets/pictures/logo/typescript.png" width="30%"alt="typescript">
        </a>
        <a href="https://v3.vuejs.org/">
          <img src="assets/pictures/logo/1184px-Vue.js_Logo_2.svg.png" width="30%" alt="vue.js">
        </a>
        <a href="https://www.python.org/">
          <img src="assets/pictures/logo/Python.svg.png" width="30%" alt="vue.js">
        </a>
      </div>
    </div>
    <div class="card-body">
      <a href="https://developer.mozilla.org/fr/docs/Web/HTML" class=" d-flex justify-content-center">
        <img src="assets/pictures/logo/htmlcss.png" width="60%" alt="">
      </a>
    </div>
  </div>
</div>
